@media only screen and (max-width: 500px) {
  body {
    /* position: fixed; */
  }
  /*--> HERO <--*/
  .navbar {
    height: 100%;
  }

  nav {
    display: none;
  }

  .hero {
    height: 630px;
  }
  .content-container {
    flex-direction: column-reverse;
  }

  .content-container img {
    height: 300px;
    margin: 0;
    -ms-transform: rotate(20deg);
    transform: skewY(-10deg);
    position: relative;
    left: 94px;
  }

  .content {
    height: auto;
    margin-bottom: 30px;
    font-size: 12px;
  }

  .content h3 {
    width: 280px;
  }

  /*--> PRODUCTS <--*/
  .product:nth-child(odd) {
    display: none;
  }

  .products {
    height: 470px;
  }

  .product.middle-product {
    height: 250px;
    font-size: 15px;
    width: auto;
  }

  .products__title {
    margin: 70px auto;
  }

  .products__body {
    margin-top: 200px;
  }

  .product.middle-product button {
    width: 50%;
    padding: 12px;
    font-size: 10px;
  }

  .product img {
    width: 15rem;
    position: relative;
    bottom: 50px;
  }

  .arrows {
    display: none;
  }
}
