@media only screen and (max-width: 500px) {
  .ham {
    display: block;
    position: absolute;
    /* always keep ham on top of everything */
    z-index: 1000;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    /* show the menu image */
    background-image: url('https://img.icons8.com/ios-filled/50/fa314a/menu--v1.png');
    background-size: 100%;
  }

  .showClose {
    background-image: url('https://ljc-dev.github.io/testing0/ham-close.svg');
  }

  .ham__navbar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 510px;
    overflow: hidden;
    color: white;
    z-index: 1;
    /* hide the menu above the screen by default */
    transform: translateY(-100%);
    /* transition adds a little animation when sliding in and out the menu */
    transition: transform 0.2s ease;
  }

  .ham__navbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff6122, #ff6122);
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    transform: scaleX(3);
  }

  .ham__navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
  }

  .ham__navbar li {
    font-size: 1.8em;
    z-index: 1;
    padding: 15px;
    text-transform: capitalize;
  }

  .ham__navbar a:hover {
    border: none;
  }

  .showNav {
    /* show the menu */
    transform: translateY(0);
  }
}
